---
date: 2006-03-02 06:11:00
db_id: 217
db_updated: 2008-02-21 15:16:48.476869
url: /2006/mar/02/school-project-overkill/
oldUrl:
- /node/219/
title: School Project Overkill
---
<img src="/images/overkill.jpg" alt="Screenshot of my HW" /><br />Bonus points, ftw!