---
date: 2005-03-30 03:00:49
db_id: 74
db_updated: 2008-02-21 15:16:50.522293
url: /2005/mar/30/soma/
oldUrl:
- /node/74/
title: Soma?
---
<p>Does it bother anyone else that there is a drug on the market now called "soma"?</p>