---
layout: default
---

<article id="co" class="home">
  
{% if paginator.total_pages > 1 %}
<nav class="pagination">
  {% if paginator.previous_page %}
    <a class="button" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&#x25C4; Prev</a>
  {% else %}
    <a class="button is-disabled" href="#">&#x25C4; Prev</a>
  {% endif %}
  
  {% if paginator.next_page %}
    <a class="button" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &#x25BA;</a>
  {% else %}
    <a class="button is-disabled" href="#">Next &#x25BA;</a></li>
  {% endif %}

  <ul>
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li><a class="button is-primary" href="#">{{ page }}</a></li>
    {% elsif page == 1 %}
      <li><a class="button" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
      <li><a class="button" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</nav>
{% endif %}

  {% if paginator.page == 1 %}
  <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><img src="http://media.worldmaker.net/images/feed-icon-32x32.png" alt="RSS Feed" /></a></p>
  {% endif %}

  <dl class="content">
    {% for post in paginator.posts %}
        <dt>{{ post.date | date: "%b %-d, %Y" }}</dt>

        <dd>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </dd>
    {% endfor %}
  </dl>
</article>

{% capture nav_extra %}
  <div class="lx lxprimary">
    <div class="lxcaption">Stories</div>
    <a href="/tag/#fiction">Fiction tag</a>
    <a href="/work/">My Story Works</a>
    <a href="/world/">My Story Worlds</a>
  </div>

  {% if paginator.next_page %}
    <a class="button is-primary" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next Page</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="button is-primary" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Prev Page</a>
  {% endif %}
{% endcapture %}

{% include navbar.html %}
