---
layout: page.vto
title: Tags
---

<ul>
{{ for tag of search.values("tags", "type=post") }}
    {{ if tag != "" }}
    <li><a href="/tag/{{ tag }}/">{{ tag }}</a></li>
    {{ /if }}
{{ /for }}
</ul>
