---
layout: page.vto
type: meta-work
title: Story Works
---

<p>Most of the story works I have posted to my blog. Some of these were
created and published as a part of my <a href="dragonzine/">DRAGONzine</a>
effort.</p>

<ul>
{{ for work of search.pages('type=work') }}
    <li><a href="{{ work.url }}">{{ work.title }}</a></li>
{{ /for }}
</ul>
