---
layout: default
---
<article id="co">
  <div class="content">
    {{ content }}
  </div>

  {% if page.story_commentary and page.story_commentary != '' %}
  <aside class="admonition admonition-commentary">
    <div class="admonition-title">Commentary</div>
    <p>{{ page.story_commentary }}</p>
  </aside>
  {% endif %}

  <hr />

  <aside class="admonition admonition-commentary">
    <div class="admonition-title">Comments</div>
    <p>Comment system is being replaced. If you'd like to continue the conversation, consider <a href="mailto:me@worldmaker.net">email</a>,
      <a href="https://smeap.com/@max">mastodon</a>, or <a href="https://github.com/WorldMaker/blog.worldmaker.net/issues/new?title=Blog+comment">GitHub issue</a>.</p>
  </aside>
</article>

{% capture nav_extra %}
  <div class="lx lxprimary">
    <div class="lxcaption">Earthdate</div>
    <span>{{ page.date | date: "%b %-d, %Y" }}</span>
  </div>
  {% if page.author %}
  <div class="lx">
    <div class="lxcaption">Author</div>
    <span>{{ page.author }}</span>
  </div>
  {% endif %}
  {% if page.dz_issue %}
  <div class="lx">
    <div class="lxcaption">DRAGONzine</div>
    <span>First published in <a href="/work/dragonzine/#issue{{ page.dz_issue }}">DRAGONzine #{{ page.dz_issue }}</a></span>
  </div>
  {% endif %}
  {% if page.meta %}
  <div class="lx">
    <div class="lxcaption">Meta</div>
    <span>{{ page.meta }}</span>
  </div>
  {% endif %}
  {% if page.story_work %}
    {% assign size = site.posts | where:"story_work",page.story_work | size %}
    {% for work in site.works %}
      {% if work.slug == page.story_work %}
      <div class="lx lxprimary">
        <div class="lxcaption">Story Work</div>
        <span>Part {{ page.story_number }} of {{ size }} in <a href="{{ work.url }}">{{ work.title }}</a></span>
      </div>
      {% endif %}
    {% endfor %}
    {% assign prev_number = page.story_number | minus:1 %}
    {% assign next_number = page.story_number | plus:1 %}
    {% assign prev = site.posts | where:"story_work",page.story_work | where:"story_number",prev_number | first %}
    {% assign next = site.posts | where:"story_work",page.story_work | where:"story_number",next_number | first %}
    {% if next %}
      <div class="lx lxprimary">
        <div class="lxcaption">Next Chapter</div>
        <a href="{{ next.url }}">{{ next.title }}</a>
      </div>
    {% endif %}
    {% if prev %}
      <div class="lx primary">
        <div class="lxcaption">Previous Chapter</div>
        <a href="{{ prev.url }}">{{ prev.title }}</a>
      </div>
    {% endif %}
  {% endif %}
  {% if page.next %}
    <div class="lx">
      <div class="lxcaption">Next Post</div>
      <a href="{{ page.next.url }}">{{ page.next.title }}</a>
    </div>
  {% endif %}
  {% if page.previous %}
    <div class="lx">
      <div class="lxcaption">Previous Post</div>
      <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    </div>
  {% endif %}
  <div class="lx lxprimary">
    <div class="lxcaption">Tags</div>
    <p>
      {% for tag in page.tags %}<a class="tag is-rounded" href="/tag/#{{ tag }}">{{ tag }}</a>{% endfor %}
    </p>
  </div>
{% endcapture %}

{% include navbar.html %}
