---
layout: page
---
{{ content }}

{% assign stories = site.posts | where:"story_work",page.slug | sort:'story_number' %}
<dl>
{% for post in stories %}
<dt>#{{ post.story_number }}</dt>
<dd><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></dd>
{% if post.excerpt %}
<dd>{{ post.excerpt }}</dd>
{% endif %}
{% endfor %}
</dl>

{% if page.worlds %}
<div class="text-info text-center">Worlds: 
<ul class="list-inline">
{% for world in site.worlds %}
    {% assign display = false %}
    {% for w in page.worlds %}
        {% if w == world.slug %}{% assign display = true %}{% endif %}
    {% endfor %}
    {% if display %}
    <li><a href="{{ world.url | prepend: site.baseurl }}">{{ world.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>
</div>
{% endif %}
